/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: 1.1;
  font-style: normal;
  margin-bottom: 30px;
}

.pink {
  color: #ea1889;
}

.blue {
  color: #1fa9ff;
}

.black {
  color: black;
}

.hero {
  padding-top: 72px;
}

.hero-p {
  font-weight: 300;
  font-size: 24px;
  width: 80%;
  color: #98a2b3;
  margin-bottom: 30px;
}

.hero-btn {
  width: 155px;
  height: 60px;
  border: 1px solid #ea1889;
  background: #ea1889;
  border-radius: 8px;
  padding: 16px 28px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.hero-btn:hover {
  font-weight: 500;
  color: white;
}

.hero-img {
  border-radius: 3px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;
}

.bkg-blue {
  background: #1fa9ff;
  padding: 50px 0px;
}

.marker {
  font-weight: 800;
  font-size: 48px;
  color: #1fa9ff;
  text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff,
    2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  text-align: center;
  margin: 10px 0px;
  padding-top: 10px;
}

.steps {
  margin: 35px 0px;
  padding: 25px 0px;
}

.step {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.icon-avatar {
  width: 80px;
  height: 80px;
  background: #f4ebff;
  border: 8px solid #ffffff;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.marker-title {
  font-weight: 500;
  font-size: 32px;
}

.hero-title {
  font-weight: 600;
  font-size: 32px;
  color: #1fa9ff;
  margin-top: 70px;
  margin-bottom: 20px;
}

.hero-par {
  font-weight: 400;
  font-size: 19px;
  color: #667085;
}
.fact {
  margin: 10px;
  padding: 25px;
}

.fact-number {
  font-weight: 600;
  font-size: 45px;
  color: #ea1889;
}

.fact-what {
  font-weight: 500;
  font-size: 18px;
  color: #101828;
}

.fact-desc {
  font-weight: 400;
  font-size: 16px;
  color: #667085;
}
/* media queries */

@media (max-width: 576px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-content {
    margin-top: 0px;
  }

  .hero-h1 {
    font-size: 72px;
    text-align: center;
  }

  .hero-p {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin: 25px 0px;
    width: 100%;
    padding: 0px 30px;
  }

  .hero-btn {
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    text-align: center;
    margin-left: 25px;
    color: white;
  }

  .hero-btn:hover {
    font-weight: 500;
    color: white;
  }

  .hero-img {
    margin-top: 35px;
    width: 527px;
    height: 527px;
  }

  .marker {
    font-size: 36px;
    text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff,
      1.5px 1.5px #fff, -1.5px -1.5px 0 #fff, 1.5px -1.5px 0 #fff,
      -1.5px 1.5px 0 #fff;
  }

  .steps {
    margin: 15px 0px;
    padding: 5px 0px;
  }

  .step {
    margin-top: 30px;
  }

  .marker-title {
    width: 85%;
    font-weight: 700;
    font-size: 26px;
  }

  .icon-avatar {
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }

  .hero-title {
    text-align: center;
    font-size: 26px;
  }

  .hero-par {
    font-weight: 400;
    font-size: 16px;
    color: #667085;
    text-align: center;
    width: 90%;
    margin-left: 18px;
  }

  .second-hero-img {
    width: 460px;
    height: 350px;
  }

  .facts {
    flex-direction: column;
  }

  .second-img {
    justify-content: space-around;
    order: 2;
  }

  .fact {
    padding: 10px;
  }
}
