.form-label{
    position: static;
    width: 233px;
    height: 20px;
    left: 0px;
    top: 0px;

    /* Text sm/Medium */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height, or 143% */
    color: #1FA9FF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 0px;
}

.form-control,.form-select{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    position: static;
    width: 320px;
    height: 44px;
    left: 0px;
    top: 26px;

    /* White */
    background: #FFFFFF;
    border: 1px solid #787B81;
    box-sizing: border-box;

    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 6px 0px;
}

.btn{
    display: flex;
    flex-direction: row;
    
    




}